[submodule "conductor"]
	path = extensions/conductor
	url = https://github.com/gemini-cli-extensions/conductor.git
[submodule "libs/kairos"]
	path = libs/kairos
	url = https://github.com/edithatogo/kairos.git
